/* style.css */
.node {
    cursor: pointer;
    transition: transform 0.5s ease;
}

.node:hover {
    transform: scale(1.1);
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip.visible {
    opacity: 1;

.audio-button, .video-link {
    margin-left: 10px;
    font-size: 14px;
}

.video-link {
    text-decoration: none;
    color: navy;
}
